.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    background-color: aquamarine;
    position: relative;
  }
  
  .cell img {
    max-width: 100%; 
    max-height: 100%;
  }

  .cell::before,
  .cell::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(124, 186, 42, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  
  .cell:hover::before,
  .cell:hover::after {
    opacity: 1;
  }

  #message {
    position:absolute;
    top: 10px;
    right: 50px;
  }


  .reset-container {
    position: fixed;
    top: 80%;
    left: 49%;
    transform: translate(-50%, -50%);
  }